{"http_interactions":[{"request":{"method":"get","uri":"http://thecaptain.elevatorup.com/v1/creditcard?limit=1\u0026value=SUDA_FINGER","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"User-Agent":["TheCaptain/v1 RubyBindings/0.5.0"],"Accept":["application/json"],"Content-Type":["application/json"],"X-The-Captain-Client-User-Agent":["{\"bindings_version\":\"0.5.0\",\"lang\":\"ruby\",\"lang_version\":\"2.2.3\",\"engine\":\"ruby\",\"publisher\":\"The Captain\",\"uname\":null,\"hostname\":\"euadmin\"}"],"X-Api-Key":["O5gDlIzw6Hlo1X7O8W1_XQ"],"Expect":[""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"71-N2A2aTN5ClmA1xQaJtFC3w\""]},"body":{"encoding":"UTF-8","base64_string":"eyJjcmVkaXRfY2FyZCI6W3sidmFsdWUiOiJTVURBX0ZJTkdFUiIsInVzZXJf\naWQiOiI3NyIsImV2ZW50IjoidXNlcjpwdXJjaGFzZWQ6c3VjY2VzcyIsImNy\nZWF0ZWQiOjE0ODI4NzI5OTcwMDR9XX0=\n"},"http_version":null},"recorded_at":"Tue, 27 Dec 2016 21:16:15 GMT"},{"request":{"method":"get","uri":"http://thecaptain.elevatorup.com/v1/creditcard?limit=1\u0026skip=1\u0026value=SUDA_FINGER","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"User-Agent":["TheCaptain/v1 RubyBindings/0.5.0"],"Accept":["application/json"],"Content-Type":["application/json"],"X-The-Captain-Client-User-Agent":["{\"bindings_version\":\"0.5.0\",\"lang\":\"ruby\",\"lang_version\":\"2.2.3\",\"engine\":\"ruby\",\"publisher\":\"The Captain\",\"uname\":null,\"hostname\":\"euadmin\"}"],"X-Api-Key":["O5gDlIzw6Hlo1X7O8W1_XQ"],"Expect":[""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"71-IWsvQAdshd9QRVi0RwIXXQ\""]},"body":{"encoding":"UTF-8","base64_string":"eyJjcmVkaXRfY2FyZCI6W3sidmFsdWUiOiJTVURBX0ZJTkdFUiIsInVzZXJf\naWQiOiI4OCIsImV2ZW50IjoidXNlcjpwdXJjaGFzZWQ6c3VjY2VzcyIsImNy\nZWF0ZWQiOjE0ODI4NzI5OTY0MjZ9XX0=\n"},"http_version":null},"recorded_at":"Tue, 27 Dec 2016 21:16:16 GMT"}],"recorded_with":"VCR 3.0.3"}