{"http_interactions":[{"request":{"method":"get","uri":"http://thecaptain.elevatorup.com/v1/creditcard?event=user:purchased:failed\u0026value=KINDA_FINGER","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"User-Agent":["TheCaptain/v1 RubyBindings/0.5.0"],"Accept":["application/json"],"Content-Type":["application/json"],"X-The-Captain-Client-User-Agent":["{\"bindings_version\":\"0.5.0\",\"lang\":\"ruby\",\"lang_version\":\"2.2.3\",\"engine\":\"ruby\",\"publisher\":\"The Captain\",\"uname\":null,\"hostname\":\"euadmin\"}"],"X-Api-Key":["O5gDlIzw6Hlo1X7O8W1_XQ"],"Expect":[""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"71-mssz551Le4fbwx+Dnk/jaQ\""]},"body":{"encoding":"UTF-8","base64_string":"eyJjcmVkaXRfY2FyZCI6W3sidmFsdWUiOiJLSU5EQV9GSU5HRVIiLCJ1c2Vy\nX2lkIjoiNzciLCJldmVudCI6InVzZXI6cHVyY2hhc2VkOmZhaWxlZCIsImNy\nZWF0ZWQiOjE0ODI4NzI5OTc1Njd9XX0=\n"},"http_version":null},"recorded_at":"Tue, 27 Dec 2016 21:16:17 GMT"}],"recorded_with":"VCR 3.0.3"}