{"http_interactions":[{"request":{"method":"post","uri":"http://thecaptain.elevatorup.com/v1/creditcard","body":{"encoding":"UTF-8","base64_string":"eyJ2YWx1ZSI6IlNVREFfRklOR0VSIiwiZXZlbnQiOiJ1c2VyOnB1cmNoYXNl\nZDpzdWNjZXNzIiwidXNlcl9pZCI6Ijg4In0=\n"},"headers":{"User-Agent":["TheCaptain/v1 RubyBindings/0.5.0"],"Accept":["application/json"],"Content-Type":["application/json"],"X-The-Captain-Client-User-Agent":["{\"bindings_version\":\"0.5.0\",\"lang\":\"ruby\",\"lang_version\":\"2.2.3\",\"engine\":\"ruby\",\"publisher\":\"The Captain\",\"uname\":null,\"hostname\":\"euadmin\"}"],"X-Api-Key":["O5gDlIzw6Hlo1X7O8W1_XQ"],"Expect":[""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"28-vSyeQI1g6125F2WcHi+LKA\""]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJjcmVhdGVkIjoxNDgyODcyOTk2NDI2fQ==\n"},"http_version":null},"recorded_at":"Tue, 27 Dec 2016 21:09:56 GMT"}],"recorded_with":"VCR 3.0.3"}