{"http_interactions":[{"request":{"method":"post","uri":"http://thecaptain.elevatorup.com/v1/ip","body":{"encoding":"UTF-8","base64_string":"eyJ2YWx1ZSI6IjEuMS4xLjEiLCJldmVudCI6InVzZXI6c2lnbnVwIiwidXNl\ncl9pZCI6Ijg4In0=\n"},"headers":{"User-Agent":["TheCaptain/v1 RubyBindings/0.4.6.1"],"Accept":["application/json"],"Content-Type":["application/json"],"X-The-Captain-Client-User-Agent":["{\"bindings_version\":\"0.4.6.1\",\"lang\":\"ruby\",\"lang_version\":\"2.2.3\",\"engine\":\"ruby\",\"publisher\":\"The Captain\",\"uname\":null,\"hostname\":\"euadmin\"}"],"X-Api-Key":["O5gDlIzw6Hlo1X7O8W1_XQ"],"Expect":[""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"40-rR8CVatRCOdafO+cx9VchA\""]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJjcmVhdGVkIjoxNDgyNDI5NDgzOTk3LCJ1cGRh\ndGVkIjoxNDgyNDI5NDg0MTkwfQ==\n"},"http_version":null},"recorded_at":"Thu, 22 Dec 2016 17:58:04 GMT"}],"recorded_with":"VCR 3.0.3"}