{"http_interactions":[{"request":{"method":"post","uri":"http://thecaptain.elevatorup.com/v1/ip","body":{"encoding":"UTF-8","base64_string":"eyJ2YWx1ZSI6IjEuMS4xLjEiLCJldmVudCI6InNpZ251cCIsInVzZXJfaWQi\nOiI3NyJ9\n"},"headers":{"User-Agent":["TheCaptain/v1 RubyBindings/0.4.6.1"],"Accept":["application/json"],"Content-Type":["application/json"],"X-The-Captain-Client-User-Agent":["{\"bindings_version\":\"0.4.6.1\",\"lang\":\"ruby\",\"lang_version\":\"2.2.3\",\"engine\":\"ruby\",\"publisher\":\"The Captain\",\"uname\":null,\"hostname\":\"euadmin\"}"],"X-Api-Key":["O5gDlIzw6Hlo1X7O8W1_XQ"],"Expect":[""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"40-+OhCcXEKTicrkVd6ssc3wg\""]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJjcmVhdGVkIjoxNDgyNDI3ODM4NTU5LCJ1cGRh\ndGVkIjoxNDgyNDI3ODM4NzA4fQ==\n"},"http_version":null},"recorded_at":"Thu, 22 Dec 2016 17:30:38 GMT"}],"recorded_with":"VCR 3.0.3"}