{"http_interactions":[{"request":{"method":"post","uri":"http://thecaptain.elevatorup.com/v1/ip","body":{"encoding":"UTF-8","base64_string":"eyJ2YWx1ZSI6IjEuMS4xLjEiLCJ1c2VyX2lkIjoiNzciLCJjb25kaXRpb24i\nOiJ1c2VyOnNpZ251cCJ9\n"},"headers":{"User-Agent":["TheCaptain/v1 RubyBindings/0.4.1"],"Accept":["application/json"],"Content-Type":["application/json"],"X-The-Captain-Client-User-Agent":["{\"bindings_version\":\"0.4.1\",\"lang\":\"ruby\",\"lang_version\":\"2.2.3\",\"engine\":\"ruby\",\"publisher\":\"The Captain\",\"uname\":null,\"hostname\":\"euadmin\"}"],"X-Api-Key":["O5gDlIzw6Hlo1X7O8W1_XQ"],"Expect":[""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"40-STge+Hp/9HLttxKkYsbmng\""]},"body":{"encoding":"UTF-8","base64_string":"eyJzdWNjZXNzIjp0cnVlLCJjcmVhdGVkIjoxNDgyMTc2NDcyODk2LCJ1cGRh\ndGVkIjoxNDgyMTc2NDczMDY2fQ==\n"},"http_version":null},"recorded_at":"Mon, 19 Dec 2016 19:41:13 GMT"}],"recorded_with":"VCR 3.0.3"}