{"http_interactions":[{"request":{"method":"post","uri":"http://thecaptain.elevatorup.com/v1/ip","body":{"encoding":"UTF-8","base64_string":"eyJ2YWx1ZSI6IjIxNi4yMzQuMTE3LjEzMiIsInVzZXJfaWQiOiI4OCIsImNv\nbmRpdGlvbiI6InVzZXIuc2lnbnVwIn0=\n"},"headers":{"User-Agent":["TheCaptain/v1 RubyBindings/0.4.1"],"Accept":["application/json"],"Content-Type":["application/json"],"X-The-Captain-Client-User-Agent":["{\"bindings_version\":\"0.4.1\",\"lang\":\"ruby\",\"lang_version\":\"2.2.3\",\"engine\":\"ruby\",\"publisher\":\"The Captain\",\"uname\":null,\"hostname\":\"euadmin\"}"],"X-Api-Token":["O5gDlIzw6Hlo1X7O8W1_XQ"],"Expect":[""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"1b-UpJx/fdsuk1ljm8XhBGS9g\""]},"body":{"encoding":"UTF-8","base64_string":"eyJzdGF0dXMiOnsic3VjY2VzcyI6dHJ1ZX19\n"},"http_version":null},"recorded_at":"Fri, 16 Dec 2016 21:10:51 GMT"}],"recorded_with":"VCR 3.0.3"}