{"http_interactions":[{"request":{"method":"get","uri":"https://thecaptain.elevatorup.com/v1/events/count?q%5Bevent_name%5D=user.signup","body":{"encoding":"UTF-8","base64_string":"bnVsbA==\n"},"headers":{"User-Agent":["TheCaptain/v1 RubyBindings/0.1.0"],"Accept":["application/json"],"Content-Type":["application/json"],"X-Api-Token":["O5gDlIzw6Hlo1X7O8W1_XQ"],"X-The-Captain-Client-User-Agent":["{\"bindings_version\":\"0.1.0\",\"lang\":\"ruby\",\"lang_version\":\"2.2.3\",\"engine\":\"ruby\",\"publisher\":\"The Captain\",\"uname\":null,\"hostname\":\"caseys-MacBook-Pro.local\"}"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"51876f323547fe0b6b9fd0262d7ceaa8\""]},"body":{"encoding":"UTF-8","base64_string":"eyJyZXN1bHQiOjN9\n"},"http_version":null},"recorded_at":"Mon, 04 Jan 2016 16:49:24 GMT"}],"recorded_with":"VCR 3.0.1"}
